
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<p> p represent a paragraph and here I can write text in the view folder.
    The titles are given as ViewBags</p>

